@model LancheListViewModel

<div><h2>@Model.CategoriaAtual</h2></div>


<div class="row">

@foreach (var lanche in Model.Lanches)
{   
    // Maneira desatualizada de referenciar uma Partial View
   // @Html.Partial("_LancheResumo", lanche);

    // Maneira atualizada de referenciar uma Partial View
    <partial name="_LancheResumo" for="@lanche"/>
    
}
</div>

